.item {
    background-color: #d6d6d6;
    border: 0px solid #000000;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
}

.stack_container {
    background-color: white;
    border-radius: 30px;
    font-size: 24px;
    font-weight: bold;
}

.element {
    background-color: #bebebe;
    border-radius: 30px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.stacks {
    background-color: #d6d6d6;
    width: 100%;
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Resumen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.scroll {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;

}



.counter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    /* Fondo blanco */
    border-radius: 50px;
    padding: 0px 10px;
    width: 40%;
    max-width: 200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.counter-container button {
    background: none;
    border: none;
    color: #0062ff;
    /* Color del texto de los botones */
    font-size: 18px;
    cursor: pointer;
    padding: 0 10px;
}

.counter-container span {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    /* Color del número */
    margin: 0 10px;
}

.colum {
    display: flex;
    flex-direction: column !important;
    justify-content: space-between !important;
}

.item {
    -webkit-box-shadow: 9px 6px 5px -3px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 9px 6px 5px -3px rgba(0, 0, 0, 0.37);
    box-shadow: 9px 6px 5px -3px rgba(0, 0, 0, 0.37);
}

.sombra {
    -webkit-box-shadow: 9px 6px 5px -3px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 9px 6px 5px -3px rgba(0, 0, 0, 0.37);
    box-shadow: 9px 6px 5px -3px rgba(0, 0, 0, 0.37);
}

@media only screen and (min-width: 601px) {
    .contenedor_padre {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .item {
        width: 33%;
        padding: 1%;
        margin-right: 2%;
        border-radius: 30px;
        height: 100%;
    }

    .element {
        width: 100%;

        height: 100%;

        padding: 4%;
    }
}

@media only screen and (max-width: 600px) {
    .super_container {
        height: auto !important;
        width: 94%;
    }

    .contenedor_padre {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        scroll-behavior: auto;
        scroll-behavior: smooth;
    }

    .item {
        width: 100%;
        height: 540px;
        padding: 5%;
        border-radius: 30px;
        margin: 3%;
    }

    .element {
        width: 100%;

        height: 100%;

        padding: 4%;
    }

    /* //item sombra */
}